input,
button {
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  line-height: 1.2rem;
  outline: none;
}
.crud-container {
  width: 32rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
.filter {
  display: flex;
  align-items: flex-end;
}
.filter-text {
  margin-right: 12px;
}
.main-content {
  display: flex;
  margin: 1rem 0;
}
.update-details {
  display: flex;
  flex-direction: column;
}
.list-container {
  min-width: 14rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  margin-right: 1rem;
}
.current-list {
  list-style: none;
  padding-left: 0;
  cursor: pointer;
  margin: 0;
}
.crud-btn {
  background-color: #2179ea;
  border: 1px solid;
}
.crud-btn--delete {
  border-color: #ea4f3b;
  background-color: #ea6756;
}
.crud-btn:disabled {
  cursor: auto;
  background-color: #ccc;
  border-color: #d2d0d0;
}
.crud-btn:not(:last-child) {
  margin-right: 12px;
}
.user-item {
  padding: 6px;
}
.user-item.active {
  background-color:#d6d6d6;
}
.new-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.new-name--input {
  margin-top: 6px;
}
.error {
  padding: 1rem;
  background-color: #ea6756ad;
  margin-bottom: 2rem;
  border: 1px solid #eca49b;
  border-radius: 0.2rem;
  color: white;
  font-weight: 200;
  letter-spacing: 0.02rem;
  text-align: center;
}
