.elm-datepicker--container {
    position: relative;
}

.elm-datepicker--input:focus {
    outline: 0;
}

.elm-datepicker--picker {
    position: absolute;
    border: 1px solid #f5f5f5;
    border-radius: 0.2rem;
    z-index: 10;
    background-color: white;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.12);
}

.elm-datepicker--picker-header,
.elm-datepicker--weekdays {
    background: #111;
    color: white;
}

.elm-datepicker--picker-header {
    display: flex;
    align-items: center;
}

.elm-datepicker--prev-container,
.elm-datepicker--next-container {
    flex: 0 1 auto;
    cursor: pointer;
}

.elm-datepicker--month-container {
    flex: 1 1 auto;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}
.elm-datepicker--month {
    font-size: 1.2em;
}
.elm-datepicker--month,
.elm-datepicker--year {
    flex: 1 1 auto;
    cursor: default;
    text-align: center;
}

.elm-datepicker--year {
    font-size: 0.8em;
    font-weight: 700;
}

.elm-datepicker--prev,
.elm-datepicker--next {
    border: 6px solid transparent;
    background-color: inherit;
    display: block;
    width: 0;
    height: 0;
    padding: 0 0.2em;
}

.elm-datepicker--prev {
    border-right-color: #aaa;
}
.elm-datepicker--prev:hover {
    border-right-color: #bbb;
}

.elm-datepicker--next {
    border-left-color: #aaa;
}
.elm-datepicker--next:hover {
    border-left-color: #bbb;
}

.elm-datepicker--table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 0.8em;
}
.elm-datepicker--table td {
    width: 2em;
    height: 2em;
    text-align: center;
    padding: 0.5rem;
}

.elm-datepicker--row {
    border-top: 1px solid #f2f2f2;
}

.elm-datepicker--dow {
    border-bottom: 1px solid #ccc;
    cursor: default;
}

.elm-datepicker--day {
    cursor: pointer;
}
.elm-datepicker--day:hover {
    background: #f2f2f2;
}

.elm-datepicker--disabled {
    cursor: default;
    color: #ddd;
}
.elm-datepicker--disabled:hover {
    background: inherit;
}

.elm-datepicker--picked {
    color: white;
    background: #0076ff;
}
.elm-datepicker--picked:hover {
    background: #005bc5;
}

.elm-datepicker--today {
    font-weight: bold;
}

.elm-datepicker--other-month {
    color: #aaa;
}
.elm-datepicker--other-month.elm-datepicker--disabled {
    color: #eee;
}
.elm-datepicker--other-month.elm-datepicker--picked {
    color: white;
}

/* my styles */
input,
button {
    outline: none;
}
ul {
    list-style: none;
}
.fs-main-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.fs-content {
    display: flex;
    margin-bottom: 1rem;
    height: 70px;
}
.fs-search {
    display: flex;
}
.fs-wrapper {
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}
.fs-searh-wrapper {
    min-width: 18rem;
}
.fs-search-list {
    padding: 1rem;
    position: absolute;
    top: 4.5rem;
    border: 1px solid #3e3e3e;
    border-radius: 0.2rem;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.55);
    min-width: 18rem;
    background-color: #111;
    opacity: 0.7;
    color: white;
}
.fs-search-list.closed {
    display: none;
}
.fs-label {
    padding-bottom: 0.25rem;
}
.search-item {
    padding: 0.5rem 0;
    cursor: pointer;
}
.search-item.active {
    font-weight: bold;
}
.fs-search-wrapper {
    display: flex;
    padding-right: 4.2rem;
    flex-direction: column;
    align-items: flex-start;
}
.fs-result-list {
    margin: 1rem 0;
}
.fs-result {
    padding: 1.5rem;
    border: 1px solid #f5f5f5;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.12);
}
.fs-result:not(:last-child) {
    margin-bottom: 12px;
}
.fs-result-price-route {
    margin-right: 1rem;
}
.fs-flight-details {
    display: flex;
    align-items: center;
}
.fs-flight-details:not(:last-child) {
    padding-bottom: 1rem;
}
.fs-flight-route {
    padding-right: 1rem;
}
.fs-route {
    padding-bottom: 0.2rem;
    color: #2bdb66;
}
.fs-price {
    color: #0076ff;
}
.fs-carrier-wrap {
    font-size: 14px;
    color: #74b2fb;
}
.fs-arrow {
    padding: 0 0.5rem;
}
